[{:title "1800", :link "http://www.18xx.net/1800/1800.htm"}
 {:title "1824", :link "http://www.18xx.net/1824/1824.htm"}
 {:title "1825", :link "http://www.18xx.net/1825/1825.htm"}
 {:title "1826", :link "http://www.18xx.net/1826/1826.htm"}
 {:title "1827", :link "http://www.18xx.net/1827/1827.htm"}
 {:title "1827 Jr.", :link "http://www.18xx.net/1827jr/1827jr.htm"}
 {:title "1828", :link "http://www.18xx.net/1828/1828.htm"}
 {:title "1829", :link "http://www.18xx.net/1829/1829.htm"}
 {:title "1830", :link "http://www.18xx.net/1830/1830.htm"}
 {:title "1831", :link "http://www.18xx.net/1831/1831.htm"}
 {:title "1832", :link "http://www.18xx.net/1832/1832.htm"}
 {:title "1834", :link "http://www.18xx.net/1834/1834.htm"}
 {:title "1835", :link "http://www.18xx.net/1835/1835.htm"}
 {:title "1836", :link "http://www.18xx.net/1836/1836.htm"}
 {:title "1837", :link "http://www.18xx.net/1837/1837.htm"}
 {:title "1837SX", :link "http://www.18xx.net/1837SX/1837SX.htm"}
 {:title "1838", :link "http://www.18xx.net/1838/1838.htm"}
 {:title "1838TL", :link "http://www.18xx.net/1838TL/1838TL.htm"}
 {:title "1839", :link "http://www.18xx.net/1839/1839.htm"}
 {:title "1840", :link "http://www.18xx.net/1840/1840.htm"}
 {:title "1841", :link "http://www.18xx.net/1841/1841.htm"}
 {:title "1842", :link "http://www.18xx.net/1842/1842.htm"}
 {:title "1844", :link "http://www.18xx.net/1844/1844.htm"}
 {:title "1846", :link "http://www.18xx.net/1846/1846.htm"}
 {:title "1847", :link "http://www.18xx.net/1847/1847.htm"}
 {:title "1848", :link "http://www.18xx.net/1848/1848.htm"}
 {:title "1849", :link "http://www.18xx.net/1849/1849.htm"}
 {:title "1850", :link "http://www.18xx.net/1850/1850.htm"}
 {:title "1850 Jr.", :link "http://www.18xx.net/1850jr/1850jr.htm"}
 {:title "1851", :link "http://www.18xx.net/1851/1851.htm"}
 {:title "1852", :link "http://www.18xx.net/1852/1852.htm"}
 {:title "1853", :link "http://www.18xx.net/1853/1853.htm"}
 {:title "1854", :link "http://www.18xx.net/1854/1854.htm"}
 {:title "1855", :link "http://www.18xx.net/1855/1855.htm"}
 {:title "1856", :link "http://www.18xx.net/1856/1856.htm"}
 {:title "1857", :link "http://www.18xx.net/1857/1857.htm"}
 {:title "1858", :link "http://www.18xx.net/1858/1858.htm"}
 {:title "1860", :link "http://www.18xx.net/1860/1860.htm"}
 {:title "1861", :link "http://www.18xx.net/1861/1861.htm"}
 {:title "1862", :link "http://www.18xx.net/1862/1862.htm"}
 {:title "1866", :link "http://www.18xx.net/1866/1866.htm"}
 {:title "1868", :link "http://www.18xx.net/1868/1868.htm"}
 {:title "1868BU", :link "http://www.18xx.net/1868BU/1868BU.htm"}
 {:title "1869", :link "http://www.18xx.net/1869/1869.htm"}
 {:title "1869AM", :link "http://www.18xx.net/1869AM/1869AM.htm"}
 {:title "1869TGS", :link "http://www.18xx.net/1869TGS/1869TGS.htm"}
 {:title "1870", :link "http://www.18xx.net/1870/1870.htm"}
 {:title "1872", :link "http://www.18xx.net/1872/1872.htm"}
 {:title "1872BM", :link "http://www.18xx.net/1872BM/1872BM.htm"}
 {:title "1873", :link "http://www.18xx.net/1873/1873.htm"}
 {:title "1874", :link "http://www.18xx.net/1874/1874.htm"}
 {:title "1876", :link "http://www.18xx.net/1876/1876.htm"}
 {:title "1880", :link "http://www.18xx.net/1880/1880.htm"}
 {:title "1881", :link "http://www.18xx.net/1881/1881.htm"}
 {:title "1888", :link "http://www.18xx.net/1888/1888.htm"}
 {:title "1889", :link "http://www.18xx.net/1889/1889.htm"}
 {:title "1890", :link "http://www.18xx.net/1890/1890.htm"}
 {:title "1891", :link "http://www.18xx.net/1891/1891.htm"}
 {:title "1895", :link "http://www.18xx.net/1895/1895.htm"}
 {:title "1897", :link "http://www.18xx.net/1897/1897.htm"}
 {:title "1898", :link "http://www.18xx.net/1898/1898.htm"}
 {:title "1899", :link "http://www.18xx.net/1899/1899.htm"}
 {:title "1899KP", :link "http://www.18xx.net/1899KP/1899KP.htm"}
 {:title "18AL", :link "http://www.18xx.net/18AL/18AL.htm"}
 {:title "18BE", :link "http://www.18xx.net/18BE/18BE.htm"}
 {:title "18C2C", :link "http://www.18xx.net/18C2C/18C2C.htm"}
 {:title "18Dixie", :link "http://www.18xx.net/18Dixie/18Dixie.htm"}
 {:title "18EA", :link "http://www.18xx.net/18EA/18EA.htm"}
 {:title "18EC", :link "http://www.18xx.net/18EC/18EC.htm"}
 {:title "18EU", :link "http://www.18xx.net/18EU/18EU.htm"}
 {:title "18FB", :link "http://www.18xx.net/18FB/18FB.htm"}
 {:title "18FL", :link "http://www.18xx.net/18FL/18FL.htm"}
 {:title "18FR", :link "http://www.18xx.net/18FR/18FR.htm"}
 {:title "18GA", :link "http://www.18xx.net/18GA/18GA.htm"}
 {:title "18GL", :link "http://www.18xx.net/18GL/18GL.htm"}
 {:title "18GM", :link "http://www.18xx.net/18GM/18GM.htm"}
 {:title "18heXX", :link "http://www.18xx.net/18heXX/18heXX.htm"}
 {:title "18IB", :link "http://www.18xx.net/18IB/18IB.htm"}
 {:title "18IR", :link "http://www.18xx.net/18IR/18IR.htm"}
 {:title "18Kaas", :link "http://www.18xx.net/18Kaas/18Kaas.htm"}
 {:title "18Kids", :link "http://www.18xx.net/18Kids/18Kids.htm"}
 {:title "18MEX", :link "http://www.18xx.net/18MEX/18MEX.htm"}
 {:title "18Moon", :link "http://www.18xx.net/18Moon/18Moon.htm"}
 {:title "18MW", :link "http://www.18xx.net/18MW/18MW.htm"}
 {:title "18NA", :link "http://www.18xx.net/18NA/18NA.htm"}
 {:title "18NE", :link "http://www.18xx.net/18NE/18NE.htm"}
 {:title "18NL", :link "http://www.18xx.net/18NL/18NL.htm"}
 {:title "18Rhl", :link "http://www.18xx.net/18Rhl/18Rhl.htm"}
 {:title "18Scan", :link "http://www.18xx.net/18Scan/18Scan.htm"}
 {:title "18SX", :link "http://www.18xx.net/18SX/18SX.htm"}
 {:title "18TN", :link "http://www.18xx.net/18TN/18TN.htm"}
 {:title "18US", :link "http://www.18xx.net/18US/18US.htm"}
 {:title "18UT", :link "http://www.18xx.net/18UT/18UT.htm"}
 {:title "18VA", :link "http://www.18xx.net/18VA/18VA.htm"}
 {:title "18WW", :link "http://www.18xx.net/18WW/18WW.htm"}
 {:title "1914", :link "http://www.18xx.net/1914/1914.htm"}
 {:title "1969", :link "http://www.18xx.net/1969/1969.htm"}
 {:title "1990", :link "http://www.18xx.net/1990/1990.htm"}
 {:title "2038", :link "http://www.18xx.net/2038/2038.htm"}
 {:title "Crisis", :link "http://www.18xx.net/Crisis/Crisis.htm"}
 {:title "Inflation",
  :link "http://www.18xx.net/Inflation/Inflation.htm"}
 {:title "Lummerland",
  :link "http://www.18xx.net/Lummerland/Lummerland.htm"}
 {:title "Powerrails",
  :link "http://www.18xx.net/Powerrails/Powerrails.htm"}
 {:title "Ur: 1830 BC",
  :link "http://www.18xx.net/Ur_1830_BC/Ur_1830_BC.htm"}]
